psycopg2-binary
pandas
sqlalchemy
streamlit
requests
celery
redis
selenium
tqdm
pandas
fastapi[standard]
pydantic
tqdm
langchain-ollama
langchain-community
python-dotenv
langchain
dotenv
langchain_openai
langchain-core
langgraph
