#LLM_type = "OpenRouter"/"Ollama"
LLM_TYPE=Ollama
LLM_NAME=gpt-oss:20b
OLLAMA_URL=http://localhost:11434


#GIGACHAT_API_KEY=xxx

#LLM_TYPE=OpenRouter
#LLM_NAME=gpt-oss-20b:free
#OPENROUTER_API_KEY=yyy
